@font-face {
  font-family: "RobotoSerif";
  src: url("roboto-lightest.woff");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "RobotoSerif";
}

body {
	margin: 0;
	min-height: 100vh;
	color: var(--charcoal);
	background-color: var(--light-off-white);
}

p{
	margin-bottom: initial;
}

h2, h3{
	color: var(--black);
}

.links-area{
	margin: 0 1rem;
}

#searchContainer{
	display: flex;
	min-height: 90vh;
}

#optionPanel {
    width: 250px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.dark #optionPanel{
	background-color: var(--dark-brown);
}

#optionPanel h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

#configuration{
	display: flex;
	flex-direction: column;
}

.search-field input{
	width: 100%; 
	padding: 8px; 
	font-size: .9em; 
	border: 1px solid #ccc; 
	border-radius: 5px;
}

.search-field, 
.options{
	margin-bottom: 20px;
}

.dark .search-field,
.dark .options{
	color: var(--off-white);
}

.options label {
	display: flex;
    flex-direction: row;
    gap: .3rem;
	margin: 8px 0;
	font-size: 0.9em;
}

.search-btn {
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	background-color: var(--dark-brown);
	border: none;
	color: white;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
}

.dark .search-btn{
	border: 2px solid #BBB;
}

.search-btn:hover {
	background-color: var(--darker-brown);
}

.content {
    flex: 1;
    padding: 0 10px 10px;
	min-width: 200px;
}

.results {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.result {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: var(--white);
	width: 100%;
}

.dark .result {
    background-color: var(--dark-brown);
}

.result > .link{
	text-decoration: none;
}

.result h3 {
	font-size: 1em;
}

.result p {
	font-size: 0.9em;
	color: var(--charcoal);
	line-height: 1.5;
}

.dark .result p{
	color: var(--off-white);
}

@media (max-width: 768px) {
	#searchContainer{
		flex-direction: column;
		padding: 3px;
	}
	#optionPanel {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #ddd;
	}
	#optionPanel > .search-field,
	#optionPanel > .search-btn{
		max-width: 75%;
	}
	#optionPanel h2{
		text-align: center;
	}
	.search-field, 
	.options{
		margin: 0 auto 20px;
	}
	#configuration{
		flex-direction: row;
		justify-content: space-evenly;
	}
	.content{
		padding: 5px 0;
	}
	.results{
		gap: 5px;
	}
	.result{
		padding: 10px;
	}
	.result p{
		line-height: 1.1;
	}
}
